
<!-- <my-app-geolocation></my-app-geolocation> -->

<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon"
    (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>{{"SITETITLE" | translate }}</h1>

  <!-- <my-app-language-selector [icon]="true"></my-app-language-selector> -->

  <div class="flex-stretch"></div>



  <button
    mat-icon-button
    (click)="switchTheme()"
    class="theme-toggle"
    aria-label="Toggle Dark Theme"
  >
    <mat-icon>{{ isDark ? "dark_mode" : "light_mode" }}</mat-icon>
  </button>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menulanguage"
    aria-label="Change Theme Menu">
    <mat-icon>language</mat-icon>
  </button>

    <mat-menu #menulanguage="matMenu" >
      @for (lang of translateService.getLangs(); track lang) {
        <button mat-menu-item [value]="lang" (click)="translateService.use(lang)">
          {{ lang.toUpperCase() }}
        </button>
      }
    </mat-menu>

    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="submenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #submenu="matMenu">
      <button mat-menu-item (click)="navigate('picto')">
        <mat-icon>picture_in_picture</mat-icon>
        <span>{{"ToolBarMenu.Pictos" | translate}}</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigate('carousselpicture')">
          <mat-icon>camera</mat-icon>
          <span>{{"ToolBarMenu.Carrousel" | translate}}</span>
        </button>
        <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigate('picture')">
          <mat-icon>camera_alt</mat-icon>
          <span>{{"ToolBarMenu.Images" | translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigate('users')">
            <mat-icon>supervised_user_circle</mat-icon>
            <span>{{"ToolBarMenu.Users" | translate}}</span>
          </button>
          <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigate('choice')">
          <mat-icon>tune</mat-icon>
          <span>{{"ToolBarMenu.Choices" | translate}}</span>
        </button>
    </mat-menu>

</mat-toolbar>


<mat-sidenav-container autosize="true">
  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">

    <mat-nav-list>

      <a mat-list-item routerLink="page/homepage">
        <span class="entry">
          <mat-icon>home</mat-icon>
          @if (!isCollapsed) {
            <span >{{"SideNavMenu.Home" | translate}}</span>
          }
        </span>
      </a>

      <a mat-list-item routerLink="users">
        <span class="entry">
          <mat-icon>people</mat-icon>
          @if (!isCollapsed) {
            <span>{{"SideNavMenu.Users" | translate}}</span>
          }
        </span>
      </a>

      <a mat-list-item routerLink="todos">
        <span class="entry">
          <mat-icon>apps</mat-icon>
          @if (!isCollapsed) {
            <span>{{"SideNavMenu.Todos" | translate}}</span>
          }
        </span>
      </a>

      <a mat-list-item routerLink="tasks">
        <span class="entry">
          <mat-icon>tasks</mat-icon>
          @if (!isCollapsed) {
            <span>{{"SideNavMenu.Tasks" | translate}}</span>
          }
        </span>
      </a>

      <a mat-list-item routerLink="page/aboutpage">
        <span class="entry">
          <mat-icon>question_answer</mat-icon>
          @if (!isCollapsed) {
            <span>{{"SideNavMenu.About" | translate}}</span>
          }
        </span>
      </a>
      <a mat-list-item routerLink="auth/register">
        <span class="entry">
          <mat-icon>person_add</mat-icon>
          @if (!isCollapsed) {
            <span>Register</span>
            }
        </span>
      </a>

      <a mat-list-item routerLink="/login">
        <span class="entry">
          <mat-icon>account_circle</mat-icon>
          @if (!isCollapsed) {
            <span>Login</span>
          }
        </span>
      </a>

    </mat-nav-list>
    <my-app-language-selector ></my-app-language-selector>
  </mat-sidenav>

  <mat-sidenav-content>

    <h2>Content</h2>
    <div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">

      @if (loading) {
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
        }

      <p>main page works!</p>
      <div>
      <!-- <button mat-raised-button color="primary"
          routerLink="users/userslist"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page"
        >Users</button> -->
      <!-- <button mat-raised-button color="accent" routerLink="/usersdetail/0277e5e5-ecc7-4184-a90d-30457e5bb408/view">Details</button> -->
      <!-- <button mat-raised-button color="warn" routerLink="/aboutpage">About</button>
      <button mat-raised-button  routerLink="/homepage">Home</button>
      <button mat-raised-button  routerLink="/pagenotfoundpage">Page Not Found</button>
      <button mat-raised-button  routerLink="">Main page</button> -->
      </div>


    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

