@use '@angular/material' as mat;

@include mat.core();


$dark-primary-text: rgba(black, 0.87);

$light-primary-text: white;

// Light Theme
$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

// @include mat.all-component-themes($angular-app-light-theme);

//Dark Theme
$angular-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$angular-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$angular-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$angular-app-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $angular-dark-primary,
        accent: $angular-dark-accent,
        warn: $angular-dark-warn,
      ),
    )
);

.dark-theme{
  @include mat.all-component-colors($angular-app-dark-theme);
}

.light-theme{
@include mat.all-component-themes($angular-app-light-theme);
}
